*{ box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container{
    max-width:  450px;
   height: 100vh;
   max-height: 745px;
    margin: 0 auto;
    background-color: #ffc2d1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 5px #fb6f92;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

h1{
    font-size: 35px;
    text-align: center;
   padding: 20px;
}

#result{
    text-align: center;
}

#result img{
    width: 25%;
}

#star-text{
    font-size: 26px;
    padding: 20px;
}

#group-btn{
    display: flex;
    width: 100%;
}

#group-btn > button > img{
    width: 100%;
}

footer{
    text-align: center;
    padding: 10px;
}

button{
    background-color: #ffe5ec;
    border: 4px solid #ff8fab; 
    margin: 5px;
}


